* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif
}



/* Menu styling */

/* menu title */

h1 {
    text-align: center;
    margin-bottom: 10px;
}


section {
    position: relative;
    padding: 15px;
    width: 100%;
}

/*title of mini menus - this needs to change to be more specific*/
/*h2 {
    text-align: center;
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 0px;
    border: 1px solid black;
    width: 100px;


}
*/
/*title of mini menus*/
#m1 {
    text-align: center;
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 0px;
    border: 1px solid black;
    width: 100px;
    background-color: aqua;
}


#m2 {
    text-align: center;
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 0px;
    border: 1px solid black;
    width: 100px;
    background-color: rebeccapurple
}

#m3 {
    text-align: center;
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 0px;
    border: 1px solid black;
    width: 100px;
    background-color: greenyellow
}
/*body of paragraph styling*/
p {

    font-size: 10px;
    padding: 5px;
    border: none;
    background-color: gray;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
    clear: right;
}

/*main position of elements*/
div {
        position: relative;
		background-color: gray;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
        clear: right;

}

/*simple responsive framework for menu */
.row {
    width:90%;
}

/* full screen devices - desktop */
@media (min-width: 992px) {
    .fullscreen {
        float:left;
        width: 33.33%;
}
}

/*medium screen tablet */
@media (min-width:768px) and (max-width: 991px) {
    .col2 {    
        float:left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

}

.col2_2 {
    float:left;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
}


/* mobile view */
@media (max-width:767px) {
.col3 {
    float:left;
    width: 100%;
}
}