* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif
}

/*simple responsive framework for menu */
.row {
    width: 100%;

}

/* full screen devices */
@media (min-width: 992px) {
    .col1 {
        width:16.66%;
    }
}

/*medium screen tablet */
@media (min-width:768px) and (max-width: 991px) {
    .col2 {
        width:8.33%;
    }
}

/* Menu styling */

/* menu title */

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: right;
    padding-right: 5%;
}

/* These are the text containers styling for menu items */
.chicken {
    background-color: red;
    padding: 5px;
    width: 33.33%;
    float: left;
    border: 1px solid black
}

.beef {
    background-color: blue;
    padding: 5px;
    width: 33.33%;
    float: left;
    border: 1px solid black
    
}

.sushi, .col1 {
    background-color: green;
    padding: 5px;
    width: 33.33%;
    float: left;
    border: 1px solid black
        
}

p {
    padding: 10px;
    font-size: 10px;
}